# Python
__pycache__/
*.py[cod]
*.so

# 環境
.env
venv/
.venv/

# Django
*.log
*.log*
*.pot
*.pyc
db.sqlite3
media/
static/

# Django Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]

# IDE / エディタ
.vscode/
.idea/
*.swp
*.swo

# OSファイル
.DS_Store
Thumbs.db

# その他
*.bak